<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ese.mapper.UserMapper">

    <resultMap type="userModel" id="UserResult">
        <id property="id" column="id"/>
        <result property="personId" column="person_id"/>
        <result property="userName" column="username"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="facebook" column="facebook"/>
        <result property="department" column="department"/>
        <result property="role" column="role"/>
        <result property="active" column="active"/>
    </resultMap>

    <select id="findAll" resultMap="UserResult">
        SELECT * FROM USER
    </select>

    <select id="selectByPrimaryKey" resultMap="UserResult">
        SELECT * FROM USER WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="userModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER(person_id, username, name, password, email, facebook, department, role, active)
        VALUES(#{personId}, #{userName}, #{name}, #{password}, #{email}, #{facebook}, #{department}, #{role}, #{active})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="int">
        DELETE FROM USER WHERE id = #{id}
    </delete>

    <update id="updateByPrimaryKey" parameterType="userModel">
        UPDATE USER SET
        person_id = #{personId},
        username = #{userName},
        name = #{name},
        password = #{password},
        email = #{email},
        facebook = #{facebook},
        department = #{department},
        role = #{role},
        active = #{active}
        WHERE id = #{id}
    </update>

</mapper>